<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Car make - <span th:text="${car1.make}"></span>. Car model - <span th:text="${car1.model}"></span>.
Year <span th:text="${car1.year}"></span> <br>

Car make - <span th:text="${car2.make}"></span>. Car model - <span th:text="${car2.model}"></span>.
Year <span th:text="${car2.year}"></span><br>

Car make - <span th:text="${car3.make}"></span>. Car model - <span th:text="${car3.model}"></span>.
Year <span th:text="${car3.year}"></span><br>

Car make - <span th:text="${car4.make}"></span>. Car model - <span th:text="${car4.model}"></span>.
Year <span th:text="${car4.year}"></span><br>

Car make - <span th:text="${car5.make}"></span>. Car model - <span th:text="${car5.model}"></span>.
Year <span th:text="${car5.year}"></span><br>

Car make - <span th:text="${car6.make}"></span>. Car model - <span th:text="${car6.model}"></span>.
Year <span th:text="${car6.year}"></span><br>

Car make - <span th:text="${car7.make}"></span>. Car model - <span th:text="${car8.model}"></span>.
Year <span th:text="${car9.year}"></span><br>

Car make - <span th:text="${car10.make}"></span>. Car model - <span th:text="${car10.model}"></span>.
Year <span th:text="${car10.year}"></span><br>


</body>
</html>